<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
     Copyright (C) 2023 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settingsprovider.overlay.rubyplus">

  <application android:hasCode="false"/>
  <overlay android:targetPackage="com.android.providers.settings"
      android:isStatic="true"
      android:priority="1"
      android:requiredSystemPropertyName="ro.boot.product.hardware.sku"
      android:requiredSystemPropertyValue="rubyplus" />
</manifest>
