import /vendor/etc/init/hw/init.batterysecret.rc
import /vendor/etc/init/hw/init.stnfc.rc
import /vendor/etc/init/hw/init.mi_thermald.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    write /sys/module/musb_hdrc/parameters/mu3d_force_on 1

on post-fs-data
    # Thermal
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    chown system system /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/boost
    chown system system /sys/class/thermal/thermal_message/temp_state
    chown system system /sys/class/thermal/thermal_message/balance_mode
    chown system system /sys/class/thermal/thermal_message/charger_temp
    chown system system /sys/class/power_supply/battery/constant_charge_current
    chmod 0664 /sys/class/power_supply/battery/constant_charge_current
    chown cameraserver cameraserver /sys/class/thermal/thermal_message/flash_state

    # Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    # SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

    # cit led
    chown system system /sys/class/leds/torch-light0/brightness
    chown system system /sys/class/leds/flash-light0/brightness

# displayfeature
on boot
    # Display feature sysfs node
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param
    chmod 0664 /sys/class/mi_display/disp-DSI-0/disp_param
    chown system system /sys/class/mi_display/disp-DSI-0/mipi_rw
    chmod 0664 /sys/class/mi_display/disp-DSI-0/mipi_rw
    chown system system /sys/class/mi_display/disp-DSI-0/panel_info
    chmod 0444 /sys/class/mi_display/disp-DSI-0/panel_info
    chown system system /sys/class/mi_display/disp-DSI-0/wp_info
    chmod 0444 /sys/class/mi_display/disp-DSI-0/wp_info
    chown system system /sys/class/mi_display/disp-DSI-0/dynamic_fps
    chmod 0444 /sys/class/mi_display/disp-DSI-0/dynamic_fps
    chown system system /sys/class/mi_display/disp-DSI-0/doze_brightness
    chmod 0664 /sys/class/mi_display/disp-DSI-0/doze_brightness
    chown system system /sys/class/mi_display/disp-DSI-0/disp_count
    chmod 0664 /sys/class/mi_display/disp-DSI-0/disp_count
    chown system system /sys/class/mi_display/disp-DSI-0/brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-0/brightness_clone
    chown system system /sys/class/mi_display/disp-DSI-0/max_brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-0/max_brightness_clone

    # camera flash led
    chown system system /sys/class/leds/torch-light0/brightness
    chmod 0664 /sys/class/leds/torch-light0/brightness

    # XIAOMI_DUAL_CAM_BIN
    mkdir /mnt/vendor/persist/camera/ 0777 system camera
    mkdir /data/vendor/camera/ 0777 system camera

    # for intsense bokeh use
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/dof_model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera

    copy /vendor/etc/camera/model/dof_model/capture_cache /data/vendor/camera/model/dof_model/capture_cache
    copy /vendor/etc/camera/model/dof_model/capture_model /data/vendor/camera/model/dof_model/capture_model
    copy /vendor/etc/camera/model/dof_model/capture_policy /data/vendor/camera/model/dof_model/capture_policy
    copy /vendor/etc/camera/model/rt_model/preview_cache /data/vendor/camera/model/rt_model/preview_cache
    copy /vendor/etc/camera/model/rt_model/preview_model /data/vendor/camera/model/rt_model/preview_model
    copy /vendor/etc/camera/model/rt_model/preview_policy /data/vendor/camera/model/rt_model/preview_policy

    chmod 0666 /data/vendor/camera/model/dof_model/capture_cache
    chmod 0666 /data/vendor/camera/model/dof_model/capture_model
    chmod 0666 /data/vendor/camera/model/dof_model/capture_policy
    chmod 0666 /data/vendor/camera/model/rt_model/preview_cache
    chmod 0666 /data/vendor/camera/model/rt_model/preview_model
    chmod 0666 /data/vendor/camera/model/rt_model/preview_policy

    # for mibokeh use
    mkdir /data/vendor/camera/mibokeh 0776 system camera

    # ufscld function permission
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/auto_hibern8_enable
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/block_suspend
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/cld_opration_status
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/debug
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/frag_level
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/trigger
    chown root system /sys/devices/platform/11270000.ufshci/ufscld/trigger_interval
    chmod 664 /sys/devices/platform/11270000.ufshci/ufscld/trigger

on property:persist.vendor.radio.msimmode=ss
   setprop ro.telephony.sim.count 1
   setprop telephony.active_modems.max_count 1

on property:persist.vendor.radio.msimmode=dsds
   setprop ro.telephony.sim.count 2
   setprop telephony.active_modems.max_count 2
