on property:ro.boot.hwc=CN
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}.conf

on property:ro.boot.hwc=GL
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}_gl.conf
