service nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.st
    class hal
    user nfc
    group nfc
    override
    disabled

on property:ro.boot.hwc=CN
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}.conf
    setprop ro.boot.product.vendor.sku nfc
    enable nfc_hal_service

on property:ro.boot.hwc=GL
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}_gl.conf
    setprop ro.boot.product.vendor.sku nfc
    enable nfc_hal_service
